*.swp
*.pyc
.idea/
.vagrant
\#*\#
*~
.#*

vagrant/*/*/edx-platform
vagrant/*/*/cs_comments_service
vagrant/*/*/ora
vagrant/*/*/analytics_api
vagrant/*/*/insights
vagrant/*/*/ecommerce
vagrant/*/*/programs
vagrant_ansible_inventory_default

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

## Make artifacts
.build
playbooks/travis-test.yml

## Local virtualenv
/venv
/.venv-koa

## Native installer state and secrets
/logs/
/my-passwords.yml
/config.yml

## Ansible Artifacts
*.retry

### VisualStudioCode ###
.vscode/*
